#header {
    height: 44px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #004090;
    border-bottom: 1px solid #003080;
    color: white;
    background-image: url('/static/image/header_back1.png'), 
                      url('/static/image/header_back2.png');
    background-repeat: no-repeat, repeat-x;
    position: fixed;
    top: 0px;
    cursor: pointer;
}

.shadow {
    -moz-box-shadow: 0px 1px 5px #888;
    -webkit-box-shadow: 0px 1px 5px #888;
    box-shadow: 0px 1px 5px #888;
}

#header a {
    color: white;
    text-decoration: none;
}

#big_title {
    height: 31px;
    padding: 6px 15px 7px 15px;
    margin: 0px;
    font-size: 26px;
    width: 160px;
    float: left;
}

#slogan {
    font-size: 12.5px;
    float: right;
    font-weight: bold;
    margin: 14px 15px 0px 15px;
    padding: 0px;
    height: 18px;
    display: inline;
}

#menu {
    position: fixed;
    top: 45px;
    width: 100%;
    background-color: white;
    border-bottom: 1px black solid;
    display: none;
    margin: 0px;
    padding: 8px;
    max-height: 30%;
    color: #0088cc;
    overflow: auto;
}

#menu a {
    color: #005599;
}

#menu dl {
    display: inline;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    border-left: 1px #005599 solid;
}

#menu dl:first-child {
    border-left: none;
    padding-left: 0px;
}

#menu dt {
    color: #003366;
    font-weight: bold;
    font-size: 11px;
    margin: 0px 0px 3px 0px;
}

#menu dt a {
    color: #003366;
}

#menu dd {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}

#menu li {
    max-width: 150px;
}

#menu li span {
    cursor: pointer;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
